.bucket {
    vertical-align: top;
    display: inline-block;
    width: 505px;
    margin: 0 7px;
}

.bucket h2 {
    margin: 0 0 5px 0;
}

.bucket p {
    margin: 0;
}

.message_stream {
    margin-top: 15px;
}